<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Aula 22 - VueJS </title>

    <style>

    </style>
</head>

<body>
    <div id="app">
        <br><br><br>
        <div class="container">
            <h1> {{ titulo }} </h1>
            <h3> Router (Rotas) - Introdução </h3>

            <br><br>

            <ul>
                <!-- to: ao clicar vá para o segmento -->
                <li> <router-link to="/transformers"> Transformers </router-link>  </li>
                <li><router-link to="/game-of-thrones"> Game Of Thrones </router-link></li>
            </ul>
           
            <router-view></router-view> 
            <!--  router-view renderiza o componente -->
            

            


            <select v-model="movie">
                <option value="transformers"> Transformers</option>
                <option value="game-of-thrones"> Game Of Thrones</option>
            </select>

            <br><br>
            <!--  usando is não é necessário criar variável e verificar se é um ou outro, o is já diz qual component imprimir -->

            <!-- <transformers v-if="movie == 'transformers'">
                <h4 slot="title"> Transformers</h4>
            </transformers>

            <game-of-thrones v-if="movie == 'game-of-thrones'"></game-of-thrones> -->



            <ul ref="users">
                <li v-for="(item, index) in users" :key="item.name"> {{ item.name }} <a href="#" @click.stop.prevent="remove(index)">
                        x </a> </li>
            </ul>


            <component :is="movie">
                
            </component>


        </div>
    </div>

    <template id="transformers">
        <div>
           <h4> Transformers</h4>
            <ul>
                <li v-for="item in transformers">{{ item.name }}</li>
            </ul>
        </div>
    </template>

    <template id="gameOfThrones">
        <div>
          <h4> Game Of Thrones </h4>
            <ul>
                <li v-for="item in gameofthrones"> {{item.name}} </li>
            </ul>
        </div>

    </template>

    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>



    <script>
        var Transformers = Vue.component('transformers', {
            template: "#transformers",
            data() {
                return {
                    transformers: [
                        { name: 'Optmus Prime' },
                        { name: 'Bumble Bee' },
                        { name: 'Megatron' }
                    ]
                }
            }
        })
        // Atrelando os componentes a uma variável para pegar no routes 'component'
         var Game =  Vue.component('game-of-thrones', {
                template: "#gameOfThrones",
                data() {
                    return {
                        gameofthrones: [
                            { name: 'John Snow' },
                            { name: 'Daeerys Targaryen' },
                            { name: 'Tyron' },
                        ]
                    }
                }
            });


        var router = new VueRouter({
            routes: [
                {path: '/transformers', component: Transformers},
                {path: '/game-of-thrones', component: Game}
            ]
        });
        var app = new Vue({
            el: "#app", // elemento pai do meu aplicativo

            router,


            data: { // Onde coloca as variáveis
                titulo: "Aula 22 - VueJS",
                movie: 'transformers',


            },


        });


    </script>
</body>

</html>