<!DOCTYPE html>
<html>

<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.19/css/uikit.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.19/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.19/js/uikit-icons.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>

    <div id="app">
        <navbar></navbar>

    </div>

    <template id="navbar">
        <v-app>


            <v-toolbar color="teal">
                <v-toolbar-side-icon @click.stop="sideNav = !sideNav" class="hidden-sm-and-up white--text" class=""></v-toolbar-side-icon>

                <v-toolbar-title class="white--text">
                    <router-link to="/home">
                        Title
                    </router-link>
                </v-toolbar-title>
                <br>



                <v-spacer></v-spacer>



                <v-toolbar-items class="hidden-xs-only">
                    <v-btn flat v-for="item in itemsMenu" :key="item.titulo" router :to="item.link" color="white">
                        <v-icon left>{{item.icon}} </v-icon> {{item.titulo}}
                    </v-btn>

                </v-toolbar-items>
            </v-toolbar>

            <v-navigation-drawer temporary v-model="sideNav" v-if="sideNav">
                <v-list>
                    <v-list-tile white v-for="item in itemsMenu" :key="item.titulo" router :to="item.link">
                        <v-list-tile-action>
                            <v-icon> {{item.icon}} </v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>

                            {{item.titulo}}

                        </v-list-tile-content>

                    </v-list-tile>
                </v-list>

            </v-navigation-drawer>

            <main v-if="!sideNav">
                <router-view></router-view>

            </main>
        </v-app>

    </template>

    <template id="home">
        <div>
            <v-container grid-list-md>
                <v-layout row wrap>
                    <v-flex sm6 text-wrap class="title">
                        <h1>Lore Ipsum's </h1>
                    </v-flex>
                </v-layout>
                <v-layout row wrap>
                    <v-flex xs8 sm6 md4 lg4 justify-center align-items-center>
                        <v-card height="350" color="teal" dark justify-center align-center>
                            <v-card-text d-flex justify-center align-center>
                                <p> img </p>
                            </v-card-text>
                        </v-card>
                    </v-flex>

                    <v-flex style="padding:16px;" xs12 sm5 md8 lg8 class="sobre">
                        <h2> Sobre </h2>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id dapibus purus.
                            Curabitur sit amet libero et
                            tellus
                            mollis placerat non ut nisi. Maecenas felis enim, condimentum eu dignissim nec,
                            tristique sit amet lectus. Nam
                            sed</p>


                        <div class="flex-fim">
                            <div class="teste">
                                <v-icon> mdi mdi-whatsapp mdi-24px </v-icon>
                                <v-icon> mdi mdi-email mdi-24px</v-icon>
                            </div>

                        </div>
                    </v-flex>


                </v-layout>


            </v-container>

        </div>



    </template>

    <template id="trabalhos">

        <v-container>
            <v-layout row wrap>
                <v-flex sm6 text-wrap class="title">
                    <h2>Lore Ipsum's </h2>
                </v-flex>
            </v-layout>

            <v-layout row wrap>
                <v-flex lg8>
                    <v-container fluid class="conteudo">
                        <v-layout row wrap>

                            <v-flex v-for="(img, i) in itemsImgs" :key="i" xs4 @click.prevent.stop="abrirDetalhes()">
                                <router-link :to="{name: '/trabalhosDetalhes', params: {name: img.id}}">
                                    <v-card flat tile>
                                        <v-img class="espaco" :src="img.src" height="150px"></v-img>
                                    </v-card>
                                </router-link>
                            </v-flex>


                        </v-layout>


                    </v-container>
                </v-flex>



                <v-flex lg4 class="sobre" style="padding:16px;">
                    <v-container fluid class="conteudo">
                        <v-layout row wrap>
                            <h2> Trabalhos </h2>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id dapibus purus.
                                Curabitur sit amet libero et
                                tellus
                                mollis placerat non ut nisi. Maecenas felis enim, condimentum eu dignissim nec,
                                tristique sit amet lectus. Nam
                                sed</p>
                        </v-layout>
                    </v-container>
                </v-flex>
            </v-layout>

            <div>
                <!--  conteúdo do detalhes -->
                <router-view></router-view>

            </div>
        </v-container>



    </template>


    <template id="trabalhosDetalhes">

    

        <v-layout class="top" row wrap v-if="$route.params.name == '1'">
            <v-flex xs12 sm6 md6 lg8 justify-center align-items-center>
                <v-carousel hide-delimiters>
                    <v-carousel-item v-for="(item, i) in itemsImgs" :key="i" :src="item.src"></v-carousel-item>
                </v-carousel>
            </v-flex>

            <v-flex style="padding:16px;" xs8 sm5 md6 lg4 class="sobre">
                <h2> Detalhes </h2>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id dapibus purus.
                    Curabitur sit amet libero et
                    tellus
                </p>
            </v-flex>
        </v-layout>


        <v-layout class="top" row wrap v-else-if="$route.params.name == '2'">
            <v-flex xs12 sm6 md6 lg6 justify-center align-items-center>
                <v-carousel hide-delimiters>
                    <v-carousel-item v-for="(item, i) in itemsImgs2" :key="i" :src="item.src"></v-carousel-item>
                </v-carousel>
            </v-flex>

            <v-flex style="padding:16px;" xs8 sm5 md6 lg4 class="sobre">
                <h2> Detalhes </h2>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id dapibus purus.
                    Curabitur sit amet libero et
                    tellus
                    </p>
            </v-flex>
        </v-layout>


        <div class="top" v-else="$route.params.name == '3'">
            OOOOI
        </div>


    </template>

    <template id="catalago">
        <div>
            <h1> Catalágos</h1>
        </div>
    </template>



    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script>

        Vue.component('navbar', { // componente PAI
            template: '#navbar',
            created() {
                // eventBus.$on('abrirDetalhes', (detalhes) => {
                //     detalhes = false;
                //     console.log('this.detalhes component NAVBAR', detalhes);

                //     this.escondeDetalhes();
                // })
            },
            data() {
                return {

                    sideNav: false,
                    itemsMenu: [
                        { icon: 'home', titulo: 'Home', link: '/home' },
                        { icon: 'mdi mdi-panda mdi', titulo: 'Trabalhos', link: '/trabalhos' },
                        { icon: 'mdi mdi-book-open-page-variant', titulo: 'Catálogo', link: '/catalago' }
                    ]

                }
            },

            methods: {
                // escondeDetalhes(detalhes) {
                //     this.detalhes = false;
                //     console.log('detalhes', this.detalhes);
                //     eventBus.$emit('esconderDetalhes', this.detalhes);

                //     console.log('this.detalhes component NAV', this.detalhes);
                // }
            }
        });

        var home = Vue.component('home', {
            template: '#home',
        })

        var trabalhos = Vue.component('trabalhos', {
            template: '#trabalhos',
            updated() {
                // eventBus.$on('esconderDetalhes', (detalhes) => {
                //     // detalhes = false;
                //     console.log('this.detalhes component TRAB', detalhes);
                //     this.detalhes = detalhes;

                // })
            },
            data() {

                return {
                    detalhes: false,
                    itemsImgs: [
                        { src: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEdT8TMoHjVohRBnciHmN3uP22zbnCCYLSfj0nf8vEkNzj9qPk', id: '1' },
                        { src: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEdT8TMoHjVohRBnciHmN3uP22zbnCCYLSfj0nf8vEkNzj9qPk', id: '2' },
                        { src: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEdT8TMoHjVohRBnciHmN3uP22zbnCCYLSfj0nf8vEkNzj9qPk', id: '3' },
                        { src: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEdT8TMoHjVohRBnciHmN3uP22zbnCCYLSfj0nf8vEkNzj9qPk', id: '4' },
                        { src: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEdT8TMoHjVohRBnciHmN3uP22zbnCCYLSfj0nf8vEkNzj9qPk', id: '5' },
                        { src: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEdT8TMoHjVohRBnciHmN3uP22zbnCCYLSfj0nf8vEkNzj9qPk', id: '6' },


                    ]
                }
            },
            methods: {
                // abrirDetalhes() {
                //     this.detalhes = true;

                //     eventBus.$emit('abrirDetalhes', this.detalhes);

                //     console.log('this.detalhes component TRABALHOS', this.detalhes);
                // }



            }
        })



        var trabalhosDetalhes = Vue.component('trabalhosDetalhes', {
            template: '#trabalhosDetalhes',
            data() {

                return {
                    itemsImgs: [
                        { src: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEdT8TMoHjVohRBnciHmN3uP22zbnCCYLSfj0nf8vEkNzj9qPk' },
                        { src: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEdT8TMoHjVohRBnciHmN3uP22zbnCCYLSfj0nf8vEkNzj9qPk' },
                        { src: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEdT8TMoHjVohRBnciHmN3uP22zbnCCYLSfj0nf8vEkNzj9qPk' },
                        { src: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEdT8TMoHjVohRBnciHmN3uP22zbnCCYLSfj0nf8vEkNzj9qPk' },


                    ],
                    itemsImgs2: [
                        { src: 'https://cdn.vuetifyjs.com/images/cards/docks.jpg' },
                        { src: 'https://cdn.vuetifyjs.com/images/cards/docks.jpg' },
                        { src: 'https://cdn.vuetifyjs.com/images/cards/docks.jpg' }
                    ],

                }
            },
            methods: {

            }
        })

        var catalago = Vue.component('catalago', {
            template: '#catalago',
        })

        var router = new VueRouter({
            routes: [
                { path: '/home', component: home, name: 'home' },
                {
                    path: '/trabalhos', component: trabalhos,
                    children: [
                        { path: ':name', name: '/trabalhosDetalhes', component: trabalhosDetalhes }
                    ]
                },

                { path: '/catalago', component: catalago },

            ]
        });


        // var eventBus = new Vue();


        var app = new Vue({
            el: "#app", // elemento pai do meu aplicativo


            router,


            data: { // Onde coloca as variáveis




            },
            methods: {

            },

            created() {
                this.$router.push({ name: 'home' })

                console.log(this.router);

            }


        });


    </script>

    <style scoped>
        a {
            color: #fff;
        }

        a:link {
            text-decoration: none;

        }

        /* .v-toolbar .theme--light {
            background-color: #0097a7;
        } */

        /* .primary--text {
            color: #0097a7 !important;
            caret-color: #0097a7 !important;
        } */



        .v-icon v-icon--left material-icons theme--light {
            background-color: #1ea3b1;
        }

        .router-link-exact-active.router-link-active {
            color: white !important;
        }

        .title h1 {
            font-family: Roboto, sans-serif;
            font-size: 4rem;
            line-height: 1;
            font-weight: 400;
            margin-bottom: 1rem;

        }

        @media (max-width: 780px) {
            .title h1 {
                font-size: 2.5rem;
            }
        }

        .sobre h2 {

            font-family: Roboto, monospace;
            font-size: 1rem;
            text-transform: uppercase;
            letter-spacing: .1em;
            margin-bottom: 1rem;
            color: #000;
        }

        .sobre::before {
            content: '';
            display: inline-block;
            width: 40px;
            height: 10px;
            margin-right: 10px;
            background: #00675b;
        }

        .teste .theme--light.v-icon {
            color: rgb(0, 103, 91);
            padding-right: 10px;
        }

        .espaco {
            margin-left: 10px;
            margin-top: 10px;

        }
        .top {
            margin-top: 20px;
        }

        .conteudo {
            padding: 0px !important;
        }

        .v-responsive__content {

            cursor: pointer !important;
        }
    </style>
</body>

</html>